* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  list-style: none;
}

nav {
  height: 3em;
  background-color: #C0C0C0;
}

nav li:hover {
  cursor: pointer;
}

header, #bio {
  height: 12em;
}

header {
  background-color: #DCDCDC;
  padding-top: 3em;
}

#bio {
  background-color: #A9A9A9;
}

#hero-shot {
  border: 1px solid;
  height: 10em;
  width: 8em;
  float: left;
  margin: 1em;
}

.box {
  height: 8em;
}

.box-top-left {
  background-color: #808080;
}

.box-top-right {
  background-color: #696969;
}

.box-btm-left {
  background-color: #778899;
}

.box-btm-right {
  background-color: #C0C0C0;
}

@media only screen and (min-width: 800px) {
  nav li {
    float: left;
    padding: 1em 2em;
  }
}
