/* FONTS:
font-family: 'Gothic A1', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Work Sans', sans-serif;
 */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

body {
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
}

a {
  color: #00225C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  color: #444847;
}

button {
  border: 1px solid #00225C;
  color: #00225C;
  background-color: #FFF;
  padding: 5px;
  border-radius: 5px;
}

button a, button a:hover, button a:visited {
  color: #00225C;
  text-decoration: none;
}

button:hover {
  background-color: #00225C;
}

button:hover a {
  color: #FFF;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

hr {
  border-color: #00225C;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin: 0 auto;
  width: 90%;
  clear: both;
}

header h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: bold;
}

header h2 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact a {
  padding-right: 0.2rem;
}

.contact, .about, .skills, .projects, .experience, .education, .refs {
  margin-bottom: 2rem;
}

.skills li {
  background-color: #00225C;
  color: #FFF;
  border: 1px solid #000;
  display: inline-block;
  padding: 0 1px;
  margin-bottom: 0.2rem;
}

.project-desc {
  font-style: italic;
}

.project-desc, .projects button, experience span, .experience p, .education span, .education p{
  margin-bottom: 1rem;
}

.experience span, .education span {
  font-size: 0.8rem;
  font-style: italic;
}
