/* FONTS:
font-family: 'Gothic A1', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Work Sans', sans-serif;
 */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

body {
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
}
